@import "tailwindcss";

/* In your global CSS file */
.leaflet-container {
    z-index: 1;
  }
  
  .leaflet-control-container {
    z-index: 2;
  }
  

  .custom-marker {
    background: transparent !important;
    border: none !important;
  }